.container {
  padding: 4rem 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  color: #666;
  margin-bottom: 2rem;
}

.link {
  color: #9356DC;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
